header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  max-height: 5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: start;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    text-align: start;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity));

    @media (min-width: 768px) {
      font-size: 2.25rem;
      line-height: 2.5rem
    }
  }
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: inherit;
  }
}