<h1>Discover the amazing movies worlds</h1>

    <h2> Now playing </h2>
    @if (nowPlayingMovies$ | async; as dataOrError) {
      @if (isErrorResponse(dataOrError)) {
          <p class="error-message">Error loading now playing movies with error: {{dataOrError.status}}</p>
        } @else {
          <app-wrapper-list
          [columnsSm]="2"
          [columnsMd]="3"
          [columnsLg]="6"
        >
          @for (movie of dataOrError.slice(0, 6); track movie.id) {
          <app-movie-card [movie]="movie"></app-movie-card>
            }
          </app-wrapper-list>
        }
      } @else {
        <app-wrapper-list
          [columnsSm]="2"
          [columnsMd]="3"
          [columnsLg]="6"
        >
        @for (movie of placeholderCards.slice(0, 6); track $index) {
            <div class="placeholder-card">Loading...</div>
        }
      </app-wrapper-list>
      }


  <h2> Upcoming movies </h2>
  @if (upcomingMovies$ | async; as dataOrError) {
    @if (isErrorResponse(dataOrError)) {
      <p class="error-message">Error loading upcoming movies with error: {{dataOrError.status}}</p>
    } @else {
      <app-wrapper-list
        [columnsSm]="2"
        [columnsMd]="3"
        [columnsLg]="4"
      >
      @for (movie of dataOrError.slice(0, 4); track movie.id) {
        <app-movie-card [movie]="movie"></app-movie-card>
      }
    </app-wrapper-list>
    }
  } @else {
    <app-wrapper-list
      [columnsSm]="2"
      [columnsMd]="2"
      [columnsLg]="4"
    >
    @for (movie of placeholderCards.slice(0, 4); track $index) {
      <div class="placeholder-card">Loading...</div>
    }
  </app-wrapper-list>
  }


  <h2> Popular movies </h2>
  @if (popularMovies$ | async; as dataOrError) {
    @if (isErrorResponse(dataOrError)) {
      <p class="error-message">Error loading popular movies with error: {{dataOrError.status}}</p>
    } @else {
      <app-wrapper-list
        [columnsSm]="2"
        [columnsMd]="4"
        [columnsLg]="8"
      >
      @for (movie of dataOrError.slice(0, 8); track movie.id) {
        <app-movie-card [movie]="movie"></app-movie-card>
      }
    </app-wrapper-list>
    }
  } @else {
    <app-wrapper-list
      [columnsSm]="2"
      [columnsMd]="4"
      [columnsLg]="8"
    >
    @for (movie of placeholderCards.slice(0, 8); track $index) {
      <div class="placeholder-card">Loading...</div>
    }
  </app-wrapper-list>
  }
